<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>

</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p id="percent"></p>
  <p id="results">Welcome to
    <%= results %>
  </p>
  <p id="words"></p>
  <div class="ui dimmer"> 
    <div class="ui text loader"> Retrieving Twitter Results</div>
  </div>
 
    
  <% if (typeof err !='undefined'  ) {%>
  <form method='POST' action='javascript:sendFormContent()' class="ui form error">
  <% } else { %>
  <form method='POST' action='javascript:sendFormContent()' class="ui form">
  <%}%>
    <div class="field">
      <label>Filter</label>
      <input id="searchEntry" type="text" name="filter" placeholder="Cloud Computing">
    </div>
    <div class="ui error message">
      <div class="header">Error</div>
      <p id="error"> </p>
    </div>
    <button class="ui submit button" >Submit</button>
  </form>
  <script src="/javascripts/main.js" ></script>
</body>

</html>