body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.menu {
	display: block;
	float: left;
	line-height: 44px;
	margin-left: 1%;	
}

.menu a{
	text-decoration: none;
	color: #0C8B87;
}

#header{
	height: 44px;
	width:100%;
	background-color: #ffffff;
}

.icon{
	margin-top: 2px;
	display: block;
	line-height: 44px;
	float: left;
}

.fields{
	margin-right: 300px;
	width:1200px;
	text-align: center;
	border:10 px;
}

.ui buttons{
	margin-top: 40px;
	margin-left: 300px;
}

.ui form{
	width: 80%
}

.two wide field{
	float:right;
}

.eight wide field{
	float:right;
}





	
#wrap{
	width: 10	0%;
	background-color: #f0f0f0;
	text-align: center;
}


.output{
	background-color: white;
	height:auto;
	padding-bottom: 60px;
	overflow: hidden;
}
.output-panel{
	padding-top: 5%;
	max-width: 80%;
	margin-left: 10%;
}
.output-l{
	display: block;
	float: left;
	background-color: #f0f0f0;
	width: 60%;
	height:550px;	
	box-shadow: 0px 0px 10px #444444;
	border-radius: 8px;
}
.output-r{
	display: block;	
	float: left;
	margin-left: 5%;
	background-color: #f0f0f0;
	width: 35%;
	height:550px;
	box-shadow: 0px 0px 10px #444444;
	border-radius: 8px;
}
.output-panel-t{
	height:44px;
	line-height: 44px;
	color: #ffffff;
	background-color: #229989;
	width: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.output-r-main{
	overflow-y: scroll;
	height:500px;
}
.output-l-main{
	overflow-y: scroll;
	height: 490px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 5px 5px 0px 5px;
	margin-top: 5px;
}


.tweets{
	width:97%;
	margin-left: 2.5%;
	height:120px;
	margin-top: 5px;
}
.tweets-l{
	display: block;
	float: left;
	margin-left: 5px;
	border-radius: 8px;
	margin-top: 5px; 
	width:20%;
}	
.tweets-r{
	display: block;
	float: left;
	max-height: 120px;
	width: 78%;
}
.tweets-r-t{
	text-align: left;
	margin-left: 5px;
	color: #000000;
}
.tweets-r-t-name{
	font-size:18px;
	height:25px;
}
.tweets-r-t-score{
	display: block;
	float:right;
	font-size:18px;
	margin-right: 5px;
}
.tweets-r-m{
	font-size: 14px;
	color: #444444;
	text-align: left;
	margin-left: 5px;
	height: 100px;
}
.tweets-r-b{
	margin-left: 5px;
	font-size: 14px;
	color: #444444;
	text-align: left;
}
